# Configuração da aplicação
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_API_BASE_URL=http://localhost:3000/api

# API Externa - Abitus
NEXT_PUBLIC_ABITUS_API_URL=https://abitus-api.geia.vip/v1

# Configurações de desenvolvimento
NODE_ENV=development

# Configurações de produção (opcional)
# NODE_ENV=production
# NEXT_PUBLIC_APP_URL=https://desaparecidos-mt.vercel.app
# NEXT_PUBLIC_API_BASE_URL=https://desaparecidos-mt.vercel.app/api

# Configurações de teste
# NODE_ENV=test
# NEXT_PUBLIC_APP_URL=http://localhost:3000
# NEXT_PUBLIC_API_BASE_URL=http://localhost:3000/api
